* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}

header  {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header h1 {
    font-family: 'Sono', sans-serif;
    font-size: 30px;
}

.container h2 {
    font-size: 20px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

body h2 {
    padding-bottom: 10px;
    padding-top: 60px;
    font-weight: bold;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 30px;
}

form input {
    font-size: 14px;
    padding: 5px;
}

form button {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(184, 183, 183, 0.6);
    padding: 5px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding-bottom: 16px;
    padding-top: 20px;
}

table td {
    text-align: center;
    padding: 16px;
}